
@inject IViewProductsByNameUseCase ViewProductsByNameUseCase

<PageTitle>Test Page</PageTitle>

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Quantity</td>
            <td>Price</td>
            <td></td> 
        </tr>
    </thead>
    <tbody>
        @if (Products is not null && Products.Count > 0)
        {
            foreach (var inv in Products)
            {
               <ProductListItemComponent @rendermode="InteractiveServer" Product="inv"></ProductListItemComponent>
            }
        }
    </tbody>
</table>
@code {
    private List<Product>? Products;
    [Parameter]
    public string? SearchProductFilter{ get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Products = (await ViewProductsByNameUseCase.ExecuteAsync(SearchProductFilter ?? string.Empty)).ToList();
    }
}