@page "/products"

<h3>Product List</h3>
<br />
<br />
<br />
<SearchComponent OnSearch="HandleSearch"></SearchComponent>
<br />
<ProductListComponent SearchProductFilter="@ProductNameToSearch"></ProductListComponent>
<br />

<a href="/addProduct" class="btn btn-primary">Add Product</a>

@code {
    private string? ProductNameToSearch;
    private void HandleSearch(string searchFilter)
    {
        ProductNameToSearch = searchFilter;
    }
}
